<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>552E9DC61F7614F72936D63AC81E2D578F86EC18</string>
				<key>dateExpires</key>
				<string>2021-03-05</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>552E9DC61F7614F72936D63AC81E2D578F86EC18</string>
						<key>dateExpires</key>
						<string>2021-03-05</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BS7NX2CVJN</string>
						<key>name</key>
						<string>Ashton Cable</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>552E9DC61F7614F72936D63AC81E2D578F86EC18</string>
						<key>dateExpires</key>
						<string>2021-03-05</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BS7NX2CVJN</string>
						<key>name</key>
						<string>Ashton Cable</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BS7NX2CVJN.com.ashtoncable.ashtonsCalculator</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BS7NX2CVJN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3eb74e9c-b5b2-4a05-8347-c707d38be9b5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ashtoncable.ashtonsCalculator</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BS7NX2CVJN</string>
				<key>name</key>
				<string>Ashton Cable</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
