<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D27EF29203BC87350CF2A23F1CD1C07C521C19F7</string>
				<key>dateExpires</key>
				<string>2021-03-04</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D27EF29203BC87350CF2A23F1CD1C07C521C19F7</string>
						<key>dateExpires</key>
						<string>2021-03-04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BS7NX2CVJN</string>
						<key>name</key>
						<string>Ashton Cable</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D27EF29203BC87350CF2A23F1CD1C07C521C19F7</string>
						<key>dateExpires</key>
						<string>2021-03-04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BS7NX2CVJN</string>
						<key>name</key>
						<string>Ashton Cable</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BS7NX2CVJN.com.ashtoncable.ashtonsCalculator</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BS7NX2CVJN</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>BS7NX2CVJN.com.ashtoncable.ashtonsCalculator</string>
				</array>
			</dict>
			<key>name</key>
			<string>AshCalc.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c9be8e7b-775b-43ce-aa24-a3a0566edbd9</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BS7NX2CVJN</string>
				<key>name</key>
				<string>Ashton Cable</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
